:root {
  --invalid-color: #b70000;
  --success-color: #028219;
  --focus-color: #0035be;
  --foreground-color: black;
  --background-color: white;
  --font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;

  font-size: 8px;
  font-family: var(--font-family);
}

body {
  font-size: 2rem;
  color: var(--foreground-color);
}

.container {
  margin: 0px;
  padding: 5rem;
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.control {
  margin-bottom: 2rem;
  display: grid;
  grid-template:
    "label info" 3rem
    "input input" 5rem
    "help help" 2rem / 3fr 1fr;
}

.control:last-child {
  margin-bottom: 0;
}

.control__label {
  grid-area: label;
  font-size: 2rem;
  font-weight: bold;
}

.control__info {
  grid-area: info;
  font-size: 1.5rem;
  align-self: start;
  justify-self: end;
}

.control__input {
  grid-area: input;
  padding: 1rem;
  font-size: 2rem;
  color: var(--foreground-color);
  border: 0.125rem solid var(--foreground-color);
  border-radius: 0.5rem;
  font-family: var(--font-family);
}

.control__input:focus {
  border-width: 0.25rem;
  padding: 0.875rem;
  border-color: var(--focus-color);
}

.control--invalid .control__input {
  border-color: var(--invalid-color);
}

.control--invalid .control__help {
  color: var(--invalid-color);
}

.control__help {
  grid-area: help;
  align-self: end;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.action-buttons {
  height: 7rem;
  display: flex;
}

.button {
  cursor: pointer;
  margin: 0 1rem 0 0;
  height: 5rem;
  width: 13rem;
  border: none;
  border-radius: 0.5rem;
}

.button:last-child {
  margin: 0;
}

.button--primary {
  background-color: var(--success-color);
  font-weight: bold;
  color: var(--background-color);
}

.button--secondary {
  background-color: var(--background-color);
  color: var(--invalid-color);
  border: 0.25rem solid var(--invalid-color);
}

.button--link {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  color: #0000EE;
  background-color: transparent;
}

.control__info .button--link {
  font-size: 1.5rem;
}

.button--link:hover {
  text-decoration-line: underline;
}

.button--link:active {
  outline: none;
}

.control-link {
  margin-bottom: 4rem;
}
